In [ ]:
import pandas as pd
df = pd.read_csv(r"D:\python\python files\sales-analysis\data\superstore_sales.csv")

In [11]:
df.sample(5)

,Order ID,Order Date,Region,Customer Name,Product Category,Sub-category,Sales,Quantity,Discount,Profit
1070,ORD-2070,2025-03-11,South,Christopher Ryan,Technology,Copiers,36.54,6,0.2,5.36
1876,ORD-2876,2023-06-19,South,Jeffrey Franklin,Office Supplies,Binders,1084.60,3,0.1,208.61
1556,ORD-2556,2023-09-20,Central,Emma Mccarty,Furniture,Bookcases,1056.02,1,0.2,63.79
4354,ORD-5354,2024-12-02,West,Carl Gibson,Office Supplies,Binders,731.75,1,0.0,58.75
4041,ORD-5041,2023-05-17,South,William Hernandez,Office Supplies,Storage,842.40,5,0.0,181.45

In [19]:
#profitable customers
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year-Month'] = df['Order Date'].dt.to_period('M')
new_df = df.groupby('Year-Month')['Profit'].sum().to_frame(name = 'Monthly Profit').sort_index()
most_profitable_month = new_df['Monthly Profit'].idxmax()
most_profit = new_df['Monthly Profit'].max()
print(f"Most profitable month: {most_profitable_month}, Profit: {most_profit}")

Most profitable month: 2024-10, Profit: 25867.93